[submodule "account"]
	path = account
	url =  https://Summng@bitbucket.org/cxria/account.git
[submodule "api"]
	path = api
	url = https://Summng@bitbucket.org/cxria/api.git
[submodule "admin"]
	path = admin
	url = https://Summng@bitbucket.org/cxria/admin.git
[submodule "works"]
	path = works
	url = https://Summng@bitbucket.org/cxria/works.git
[submodule "upload"]
	path = upload
	url = https://Summng@bitbucket.org/cxria/upload.git
[submodule "autoconfigure"]
	path = autoconfigure
	url = https://Summng@bitbucket.org/cxria/autoconfigure.git
[submodule "serverjre"]
	path = serverjre
	url = https://Summng@bitbucket.org/cxria/serverjre.git
[submodule "personal"]
	path = personal
	url = https://Summng@bitbucket.org/cxria/personal.git
[submodule "order"]
	path = order
	url = https://Summng@bitbucket.org/cxria/order.git
[submodule "gateway"]
	path = gateway
	url = https://Summng@bitbucket.org/cxria/gateway.git
[submodule "eureka"]
	path = eureka
	url = https://Summng@bitbucket.org/cxria/eureka.git
[submodule "domain"]
	path = domain
	url = https://Summng@bitbucket.org/cxria/domain.git
[submodule "config"]
	path = config
	url = https://Summng@bitbucket.org/cxria/config.git
[submodule "commons-utils"]
	path = commons-utils
	url = https://Summng@bitbucket.org/cxria/utils.git
