[submodule "account"]
	path = account
	url = https://github.com/xinwu-yang/gaiamount-account.git
[submodule "api"]
	path = api
	url = https://github.com/xinwu-yang/gaiamount-api.git
[submodule "admin"]
	path = admin
	url = https://github.com/xinwu-yang/gaiamount-admin.git
[submodule "works"]
	path = works
	url = https://github.com/xinwu-yang/gaiamount-works.git
[submodule "upload"]
	path = upload
	url = https://github.com/xinwu-yang/gaiamount-upload.git
[submodule "autoconfigure"]
	path = autoconfigure
	url = https://github.com/xinwu-yang/gaiamount-autoconfigure.git
[submodule "serverjre"]
	path = serverjre
	url = https://github.com/xinwu-yang/serverjre.git
[submodule "personal"]
	path = personal
	url = https://github.com/xinwu-yang/gaiamount-personal.git
[submodule "order"]
	path = order
	url = https://github.com/xinwu-yang/gaiamount-order.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/xinwu-yang/gaiamount-gateway.git
[submodule "domain"]
	path = domain
	url = https://github.com/xinwu-yang/gaiamount-domain.git
[submodule "config"]
	path =
	url = https://github.com/xinwu-yang/gaiamount-config.git
[submodule "commons"]
	path = commons
	url = https://github.com/xinwu-yang/Commons.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/xinwu-yang/nginx.git
[submodule "gaia48"]
	path = gaia48
	url = https://github.com/xinwu-yang/gaia48.git
