[submodule "account"]
	path = account
	url =  https://Summng@bitbucket.org/cxria/account.git
[submodule "api"]
	path = api
	url = https://Summng@bitbucket.org/cxria/api.git
[submodule "admin"]
	path = admin
	url = https://Summng@bitbucket.org/cxria/admin.git
[submodule "works"]
	path = works
	url = https://Summng@bitbucket.org/cxria/works.git
[submodule "upload"]
	path = upload
	url = https://Summng@bitbucket.org/cxria/upload.git
